In [1]:
import numpy as np
import pandas as pd

In [2]:
product = pd.read_csv('C:/Users/wjssm/Desktop/lpoint/data/01-2.Product.csv', dtype={"CLNT_ID":np.str, "SESS_ID":np.str},thousands=",")

In [3]:
product.head()

   CLNT_ID   SESS_ID  HITS_SEQ    PD_C PD_BRA_NM  PD_BUY_AM  PD_BUY_CT
0  4139680  07605037        12  642112     바비브라운      39000          1
1  4140076  10189797        13  570603       데상트      39000          2
2  4142395  06158159        85  179538       아베다      39000          1
3  4144914  07935714        12  554336   아디다스 키즈      39000          1
4  4144917  06406509        78  190306      데코르테      39000          5

In [4]:
master = pd.read_csv('C:/Users/wjssm/Desktop/lpoint/data/06.Master.csv', dtype={"PD_C":np.str})

In [5]:
master.head()

,PD_C,PD_NM,CLAC1_NM,CLAC2_NM,CLAC3_NM
0,064382,언더아머 남성 UA HG 아머 모크 LS 1289559-001 - 블랙 / MD[95],스포츠패션,남성일반스포츠의류,남성스포츠티셔츠
1,062282,여자 플라워덧신 2족선물세트 17403-2set,속옷/양말/홈웨어,여성양말류,여성일반양말
2,061729,88A2933253배트맨스웨트티 - 블랙 / 130,유아동의류,유아의류상의,영유아티셔츠/탑
3,061537,"닥터마틴 아드리안 블랙, 체리레드 - 02_체리레드 / 250mm(6)",패션잡화,남성화,남성부츠
4,058820,여성 그레이 스트라이프 퍼프 소매 블라우스 (128865YQ33) - 회색(앤틱실버...,남성의류,남성의류상의,남성남방셔츠

In [10]:
master.shape

(847652, 5)

In [42]:
master['CLAC0_NM'] = ""

In [ ]:
#패션의류        '속옷/양말/홈웨어' , '남성의류', '여성의류  , '패션잡화',
#스포츠/레저         '스포츠패션' , '헬스/피트니스' , '시즌스포츠', '아웃도어/레저', '구기/필드스포츠', '자동차용품'
#화장품/뷰티    '화장품/뷰티케어', '퍼스널케어',

#식품        '건강식품', '과일', '냉장식품', '축산물', '냉동식품', '음료',
#유아동         '출산/육아용품', '유아동의류', '완구',

#주방/생활/건강    '주방잡화',  '식기/조리기구', '문구/사무용품', '세제/위생', '청소/세탁/욕실용품',

#가구/침구/인테리어        '침구/수예', '가구', '인테리어/조명',
#가전/디지털    '영상/음향가전',  '계절가전', '컴퓨터', '냉장/세탁가전', '모바일', '생활/주방가전',
#반려동물        '원예/애완',
#여행/서비스/금융   '상품권',

In [73]:
master['CLAC0_NM'] = np.where(master['CLAC1_NM'].isin(['속옷/양말/홈웨어','남성의류' ,'여성의류','패션잡화']),
                              "패션의류",master['CLAC0_NM'])

master['CLAC0_NM'] = np.where(master['CLAC1_NM'].isin(['스포츠패션','헬스/피트니스' ,'시즌스포츠','아웃도어/레저','구기/필드스포츠','자동차용품']),
                              "스포츠/레저",master['CLAC0_NM'])

master['CLAC0_NM'] = np.where(master['CLAC1_NM'].isin(['화장품/뷰티케어', '퍼스널케어']),
                              "화장품/뷰티",master['CLAC0_NM'])

master['CLAC0_NM'] = np.where(master['CLAC1_NM'].isin(['건강식품', '과일', '냉장식품', '축산물', '냉동식품', '음료']),
                              "식품",master['CLAC0_NM'])

master['CLAC0_NM'] = np.where(master['CLAC1_NM'].isin(['출산/육아용품', '유아동의류', '완구']),
                              "유아동",master['CLAC0_NM'])

master['CLAC0_NM'] = np.where(master['CLAC1_NM'].isin(['주방잡화',  '식기/조리기구', '문구/사무용품', '세제/위생', '청소/세탁/욕실용품']),
                              "주방/생활/건강",master['CLAC0_NM'])

master['CLAC0_NM'] = np.where(master['CLAC1_NM'].isin(['침구/수예', '가구', '인테리어/조명']),
                              "가구/침구/인테리어",master['CLAC0_NM'])

master['CLAC0_NM'] = np.where(master['CLAC1_NM'].isin(['영상/음향가전',  '계절가전', '컴퓨터', '냉장/세탁가전', '모바일', '생활/주방가전']),
                              "가전/디지털",master['CLAC0_NM'])

master['CLAC0_NM'] = np.where(master['CLAC1_NM'].isin(['원예/애완']),
                              "반려동물",master['CLAC0_NM'])

master['CLAC0_NM'] = np.where(master['CLAC1_NM'].isin(["상품권"]),
                              "여행/서비스/금융",master['CLAC0_NM'])

In [76]:
master.tail()

,PD_C,PD_NM,CLAC1_NM,CLAC2_NM,CLAC3_NM,CLAC0_NM
847647,400721,[피핀] 클레르 박스 롱티셔츠 103764 - ivory / FREE ◈85564075◈,여성의류,여성의류상의,여성티셔츠/탑,패션의류
847648,400382,[바니플랫]여성플랫/BNF63011EN - 브라운 / 245 ◈83660832◈,패션잡화,여성화,여성플랫,패션의류
847649,400197,섀르반 올인원 수영복 (K14D5DM231) - BL/110,시즌스포츠,수영/물놀이,아동수영복,스포츠/레저
847650,399225,링클플리츠주름밴딩스커트(CFHM1SK8821) - 블랙 / FREE,여성의류,여성의류하의,여성스커트,패션의류
847651,306289,클라이마쿨 쇼츠 [CX3564] - CX3564(그레이) / M,스포츠패션,남성일반스포츠의류,남성일반스포츠바지,스포츠/레저

In [75]:
#master data에서 대대분류 새로운 column 분류해서 정리
#master.to_csv('06-2.Master.csv',encoding='utf-8',index=False)

In [79]:
product['CLNT_ID'].unique().size

922737